.meter { 
    height: 20px;
    position: relative;
    background: rgb(243, 239, 239);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;
    animation: load 5s normal forwards;

    background-image: linear-gradient(
        45deg, #c7c5ec 25%, 
        transparent 25%, transparent 50%, 
        #c7c5ec 50%, #c7c5ec 75%,
        transparent 75%, transparent); 
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.767), 0 1px rgba(197, 195, 195, 0.884);
  /* animation: progressAnimationStrike 6s; */
}
.meter > span:hover{
    animation: movebar 2s linear infinite;
}

@keyframes load {
    0% { width: 0; }
    /* 100% { width: 68%; } */
  }
  @keyframes movebar {
    0% { width: 0; }
    /* 100% { width: 68%; } */
  }

.skill{
    line-height: 3.5vw;
}
.skill-bars{
    font-size: 28px;
    width: 40%;
}
.skills-container {
    display: flex;
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
}
.skills-container > * {
    flex: 1;
    margin-bottom: 30px;
}
.skills-image > img {
    margin-left: 80px;
    max-width: 90%;
    height: auto;
}

/* Media Query */

@media (max-width: 1456px) {
    .skills-bar {
        line-height: 4rem;
    }
    .skills-image {
        display: none;
        order: 2;
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column
    }
    .skills-bar {
        line-height: 3rem;
        margin: 20px;
    }
    .skills-image {
        display: none;
        order: 2;
    }
}
  