.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 60px;
  /* line-height: 1.1; */
}

.greeting-text-p {
  font-size: 1.2rem;
  line-height: 40px;
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
}
.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
}
/* for typing text */
.run-text{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.run-text li{
  list-style: none;
  color: #007bff;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
      top: -360px;
  }
}
.run-text li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.run-text li span::after{
  content: "" ;
  position: absolute;
  left: 0;
  height: 90px;
  width: 100%;
  background: #fff;
  border-left: 3px solid #007bff;
  animation: typing 3s steps(12) infinite;
}
@keyframes typing{
  40%, 60%{
      left:calc(100% + 30px);
  }
  100%{
      left: 0;
  }
  
}